In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
%matplotlib inline
from surprise import Reader, Dataset, SVD, evaluate

In [1]:
df_ratings = pd.read_csv('ratings_26M.csv')

NameError: name 'pd' is not defined

In [4]:
reader = Reader()

In [5]:
df_ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [7]:
%time
data = Dataset.load_from_df(df_ratings[['userId', 'movieId', 'rating']], reader)
data.split(n_folds=5)

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 18.1 µs

In [ ]:
svd = SVD()
evaluate(svd, data, measures=['RMSE', 'MAE'])

/anaconda3/lib/python3.6/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/anaconda3/lib/python3.6/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1

In [3]:
%%time 
import pickle 
dbfile2 = open('svdpickle', 'rb')      
db2 = pickle.load(dbfile2)
db2.predict(1, 112552)

CPU times: user 15.2 s, sys: 13.8 s, total: 29 s
Wall time: 32.1 s

In [4]:
genre_selected  = ['None', 'Drama', 'None', 'Romance', 'None', 'None']

In [9]:
len(genre_selected)

6

In [10]:
final_genre = []
for w in range(len(genre_selected)): 
    if genre_selected[w] != 'None':
        final_genre.append(genre_selected[w])

In [11]:
final_genre

['Drama', 'Romance']